/*
Daniel Thomas 
Dhruv Patel 
Elad Bergrin
FRONT END CODE - CSS SHEET FOR FORM
*/

form { 
width: 400px;
/*margin: 0 auto;*/
margin-left: auto;
margin-right: auto;
text-align: center;
display: inline-block;
}